<div class="reservationForm">
    <div>
        <label>Name</label>
        <div>
            <input type="text" name="name" />
        </div>
    </div>
    <div>
        <label>Phone Number</label>
        <div>
            <input type="text" name="phone" />
        </div>
    </div>
    <div>
        <label># of Guests</label>
        <div>
            <input type="text" name="guests" />
        </div>
    </div>
</div>