<div class="reservation">
    <div><label>Name: </label><span>{{ name }}</span></div>
    <div><label>Phone Number: </label><span>{{ phone }}</span></div>
    <div><label># of Guests: </label><span>{{ guests }}</span></div>
    <div><label>Time: </label><span>{{ time }}</span></div>
</div>