<div class="row">
        <div class="large-12 columns">
            <div class="callout panel">
                <p><strong data-bind="text: name"></strong><br/><span data-bind="text: tagline"></span></p>
                <div class="row">
                    <div class="large-3 medium-6 small-12 columns">
                        <p>Price: <span data-bind="text: fPrice()"></span></p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>Rating: <span data-bind="text: FormatUtils.formatRating(rating)"></span></p>
                    </div>
                    <div class="large-6 medium-12 small-12 columns">
                        <p>Address: <span data-bind="text: address"></span></p>
                    </div>
                </div>
                <p>Description: <span data-bind="text: description"></span></p>
                <div class="availableTimes">
                    <a href="#" data-bind="click: $root.goToRestaurant" class="button restaurantRow" style="color: white;">Show Times</a>
                </div>
                <div class="reservationForm" />
            </div>
        </div>
    </div>