<div>
    <h3>Selected Restaurant</h3>
    <div class="restaurant">
        <div class="title">{{name}}</div>
        <div class="wide">{{address}}</div>
    </div>
    <br>
    <div class="availableTimes">
        <ul>
            {{#each available}}
            <li>
                <div class="time">{{this}}</div>
                <br>
            </li>
            {{/each}}
        </ul>
    </div>
</div>