
body.restaurant {
    background-image: url("../img/retro_bg_2.jpg");
    font-family: Georgia, Times, "Times New Roman", serif;
}

.title-main {
    color: #f2821e;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: -0.6rem;
}

.title-sub {
    color: #f2821e;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.error-box, .validationMessage {
    color: red;
}

.customMessage {
    color: orange;
}

.error-box ul {
    list-style-type: none;
}

input[type="text"].invalid,
input[type="number"].invalid,
input.validationMessage{
    border: 2px solid red;
    background: yellow;
    font-size: 1.1em;
}